@charset "utf-8";
/* CSS Document */
input{
	width: 280px;
	margin-bottom: 40px;
}
#loginForm{
	width: 80%;
	margin: 20px auto;
}
#loginBtn{
	width: 100px;
	float: right;
	margin-right: 10px;
}
.error{
	color: red;
}